# Ignore Python virtual env
.venv/
__pycache__/
*.pyc

# Ignore big media files
*.mp4
*.avi

# Ignore folders
runs/
uploads/
personal_ for_ testing/
app/static/frames/
app/static/videos/

# Ignore database files
instance/seesea.sqlite

# System/IDE stuff
.idea/
.DS_Store
.env
